* {
  box-sizing: border-box;
}

#board {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 290px;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-shrink: 0;
  width: 288px;
  height: 32px;
}

.cell {
  text-align: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border: 1px solid black;
}

.section-wall {
  border-right-width: 3px;
}

.section-floor {
  border-bottom-width: 3px;
}

.invalid {
  background-color: pink;
}